<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geek.dynamicshardingsphere.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.geek.dynamicshardingsphere.entity.User">
        <!--@mbg.generated-->
        <!--@Table t_user-->
        <id column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="pwd" jdbcType="VARCHAR" property="pwd"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        user_id, username, phone, pwd
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from t_user
        where user_id = #{userId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete
        from t_user
        where user_id = #{userId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="user_id" keyProperty="userId"
            parameterType="com.geek.dynamicshardingsphere.entity.User" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_user (username, phone, pwd)
        values (#{username,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="user_id" keyProperty="userId"
            parameterType="com.geek.dynamicshardingsphere.entity.User" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">
                username,
            </if>
            <if test="phone != null and phone != ''">
                phone,
            </if>
            <if test="pwd != null and pwd != ''">
                pwd,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="phone != null and phone != ''">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null and pwd != ''">
                #{pwd,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.geek.dynamicshardingsphere.entity.User">
        <!--@mbg.generated-->
        update t_user
        <set>
            <if test="username != null and username != ''">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null and pwd != ''">
                pwd = #{pwd,jdbcType=VARCHAR},
            </if>
        </set>
        where user_id = #{userId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.geek.dynamicshardingsphere.entity.User">
        <!--@mbg.generated-->
        update t_user
        set username = #{username,jdbcType=VARCHAR},
            phone    = #{phone,jdbcType=VARCHAR},
            pwd      = #{pwd,jdbcType=VARCHAR}
        where user_id = #{userId,jdbcType=BIGINT}
    </update>
</mapper>