<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geek.hmilydubbotcc.trade.mapper.AccountCnyMapper">
    <resultMap id="BaseResultMap" type="com.geek.hmilydubbotcc.api.entity.AccountCny">
        <!--@mbg.generated-->
        <!--@Table t_account_cny-->
        <id column="account_id" jdbcType="INTEGER" property="accountId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="amount" jdbcType="DOUBLE" property="amount"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        account_id, user_id, amount
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from t_account_cny
        where account_id = #{accountId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from t_account_cny
        where account_id = #{accountId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="account_id" keyProperty="accountId"
            parameterType="com.geek.hmilydubbotcc.api.entity.AccountCny" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_account_cny (user_id, amount)
        values (#{userId,jdbcType=INTEGER}, #{amount,jdbcType=DOUBLE})
    </insert>
    <insert id="insertSelective" keyColumn="account_id" keyProperty="accountId"
            parameterType="com.geek.hmilydubbotcc.api.entity.AccountCny" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_account_cny
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="amount != null">
                amount,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.geek.hmilydubbotcc.api.entity.AccountCny">
        <!--@mbg.generated-->
        update t_account_cny
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=DOUBLE},
            </if>
        </set>
        where account_id = #{accountId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.geek.hmilydubbotcc.api.entity.AccountCny">
        <!--@mbg.generated-->
        update t_account_cny
        set user_id = #{userId,jdbcType=INTEGER},
            amount  = #{amount,jdbcType=DOUBLE}
        where account_id = #{accountId,jdbcType=INTEGER}
    </update>
</mapper>